
<div class="col-lg-7">
    <button class="btn mt-3" type="submit" style="color: blue;" (click)="openModalUser(template)">Ajouter Utilisateur</button>
  </div>
    
  <div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">List</h4>
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Login</th>
                        <th class="text-dark font-medium fs-4">Groupe</th>
                        <th class="text-dark font-medium fs-4">Entreprise</th>
                        <th class="text-dark font-medium fs-4">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let ts of users'>
                      <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                  <h5 class="mb-0 font-medium">{{ts.name}}</h5>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                  <h5 class="mb-0 font-medium">{{ts.username}}</h5>
                              </div>
                          </div>
                      </td>
                      <td >
                          <div class="d-flex align-items-center">
                              <div class="ms-3" *ngFor="let gr of groups">
                                  <h5 class="mb-0 font-medium">{{gr.name}}</h5>
                                  
                              </div>
                              <button class="btn mt-3" type="submit" style="color: blue;" (click)="openGroup(template1)">+</button>
                          </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <h5 class="mb-0 font-medium">{{(ts.entreprise_id)}}</h5>
                            </div>
                        </div>
                    </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <button type="button" class="btn btn-warning mr-2" (click)="openEditForm(ts,template)">Modifier</button>
                                
                                <button type="button" class="btn btn-danger" (click)="deleteUser(ts.id)">Supprimer</button> 
                                  
                              </div>
                          </div>
                      </td>
                      
                      
                  </tr>              
              </tbody>
            </table>
        </div>
    </div>
    
  </div>
  <ng-template #template>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">Utilisateur</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="create()" >
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="firstName" class="col-form-label col-sm-2 text-right">Nom</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="name" class="form-control" />
                    
                </div>
            </div>
            <br>
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Login</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="username" class="form-control" />
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Mot de passe</label>
                <div class="col-sm-5">
                    <input type="password" formControlName="password" class="form-control" />
                </div>
            </div>
            <!-- <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Role</label>
                <div class="col-sm-5">
                    <select  formControlName="role" class="form-control">
                        <option *ngFor="let user of users" [ngValue]="user.role">{{user.role}}</option>
                      </select>                  
                </div>
            </div> -->
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Groupe</label>
                <div class="col-sm-5">
                    <select  formControlName="groupe" class="form-control">
                            <option *ngFor="let gr of groups" [value]="gr.name">{{ gr.name }}</option>
                      </select>                  
                </div>
            </div>
            <br>
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Entreprise</label>
                <div class="col-sm-5">
                        <select  formControlName="entreprise_id" class="form-control">
                            <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
                        </select>                           
                </div>
            </div>
            <br>
            <div class="modal-footer">
             <button type="submit" class="btn btn-primary" >{{this.userForm.value.id ? 'Modifier': 'Ajouter'}}</button>

                <button  class="btn btn-primary mr-2" >Annuler</button>
            </div>
    
        </form>
    </div>
      <!-- <div class="row">
          <div class="mx-auto col-10 col-md-8 col-lg-6">
      <form [formGroup]="userForm" (ngSubmit)="create()" >
          <div class="form-row" >
              <div class="form-group col-md-6">
                  <label for="inputEmail4">Nom</label>
                  <input  formControlName="name" class="form-control"  placeholder="Nom">
                </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Login </label>
              <input type="email" formControlName="username" class="form-control"  placeholder="Proprietaire">
          </div>
          <div class="form-group col-md-6">
              <label for="inputEmail4">Password </label>
              <input type="password" formControlName="password" class="form-control"  placeholder="Proprietaire">
          </div>
          <div class="form-group col-md-6">
              <label for="inputEmail4">Role </label>
              <select  formControlName="role" class="form-control">
                  <option *ngFor="let user of users" [ngValue]="user.role">{{user.role}}</option>
                </select>        
          </div>
          <div class="form-group col-md-6">
              <label for="inputEmail4">Entreprises </label>
              <select  formControlName="entreprise_id" class="form-control">
                  <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
              </select>
          </div>
          </div>  
          
          <button type="submit" class="btn btn-primary" >{{this.userForm.value.id ? 'Modifier': 'Ajouter'}}</button> 
          <button type="submit" class="btn btn-dark btn-pill" >Ajouter</button> 
          <button type="button" class="btn btn-dark btn-pill" (click)="close()">Annuler</button>
        </form>
        </div>
        </div> -->
      <!-- <div class="modal-dialog"> 
          <div class="modal-content">
              <div class="modal-header pmd-modal-border">
                  <h2 class="modal-title">Inscription</h2>
                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="userForm" (ngSubmit)="create()">
                      <div class="form-group col-md-6">
                          <label for="full-name">Nom</label>
                          <input id="full-name" class="form-control" type="text" formControlName="name">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="email">Login</label>
                          <input type="email" class="form-control" id="email" value="" formControlName="username">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="mobil">Mot de passe</label>
                          <input type="password" class=" form-control" id="mobil" value="" formControlName="password">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="full-name">Role</label>
                          <select  formControlName="role" class="form-control">
                              <option *ngFor="let user of users" [ngValue]="user.role">{{user.role}}</option>
                            </select>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="full-name">Entreprises</label>
                          <select  formControlName="entreprise_id" class="form-control">
                              <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
                          </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >{{this.userForm.value.id ? 'Modifier': 'Ajouter'}}</button> 
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" (click)="close()">Annuler</button>
              </div>
          </div>
      </div>  -->
  </ng-template>
  <ng-template #template1>
    <div class="modal-body">
        <div class="form-group row d-flex justify-content-center align-items-center" [formGroup]="userForm">
            <label for="lastName" class="col-form-label col-sm-2 text-right">Groupe</label>
            <div class="col-sm-5">
                <div class="form-check"*ngFor="let gr of groups;let i =index" >
                    <input class="form-check-input" type="checkbox" [value]="gr.id" >
                    <label  class="form-check-label" for="" >
                      {{gr.name}}
                    </label>
                  </div>
            </div>
           
        </div>
    </div>
  </ng-template>
  
  