    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Voir Administration</th>
                        <th class="text-dark font-medium fs-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of organizations '>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.name}}</h5> 
                                    
                                </div>
                            </div>
                        </td>
                       
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <!-- <h5 class="mb-0 font-medium">{{ts.users}}</h5> -->
                                    <button type="button" class="btn btn-info" (click)="adminList()">Voir administrateurs</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <button type="button" class="btn btn-warning" (click)="editOrga(ts)">Modifier</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteOrganization(ts.id)" >Supprimer</button>
                                    
                                </div>
                            </div>
                        </td>
                        
                        
                    </tr>              
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="close()">Close</button>
        </div>
      </div>
    </div>
