<div class="wrapper">
     <div class="logo">
        <img src="../../../../assets/images/insoft.png" alt="logo">
    </div> 
    <div class="text-center mt-4 name">
        Welcome !
    </div>
    <!-- <form class="p-3 mt-3"  (ngSubmit)="Login(myForm)" #myForm="ngForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" ngModel placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" ngModel id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form> -->
    <form class="p-3 mt-3"  [formGroup]="loginForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" formControlName="username" id="userName"  placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password"  id="pwd" formControlName="password" placeholder="Password">
        </div>
        <button class="btn mt-3" type="submit" (click)="Login()" >Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
