<div class="col-lg-7">
  <button class="btn mt-3" type="submit" style="color: blue;" (click)="openModal(template)">Ajouter Organisation</button>
 

</div>

<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">List</h4>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Voir Administration</th>
                        <th class="text-dark font-medium fs-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of organizations '>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.name}}</h5> 
                                    
                                </div>
                            </div>
                        </td>
                       
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <!-- <h5 class="mb-0 font-medium">{{ts.users}}</h5> -->
                                    <button type="button" class="btn btn-info" (click)="adminList()">Voir administrateurs</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <button type="button" class="btn btn-warning" (click)="editOrga(ts)">Modifier</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteOrganization(ts.id)" >Supprimer</button>
                                    
                                </div>
                            </div>
                        </td>
                        
                        
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<ng-template #template>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
    <form [formGroup]="organizationForm" (ngSubmit)="create()" >
        <div class="form-row" >
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nom</label>
                <input  formControlName="name" class="form-control"  placeholder="Nom" type="text">
              </div>
          <div class="form-group col-md-6">
            <label for="full-name">Entreprise</label>
                <select  formControlName="entreprise_id" class="mat-input form-control">
                    <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
                </select>
            </div>
          
        </div>
        
        <!-- <button type="button" class="btn btn-primary" >{{this.organizationForm.value ? 'Modifier': 'Ajouter'}}</button>  -->
        <button type="submit" class="btn btn-dark btn-pill" >Ajouter</button> 
        <button type="button" class="btn btn-dark btn-pill" (click)="close()">Annuler</button>
      </form>
      </div>
      </div>
   <!--  <div class="row">
        <div class="modal-content">
            <div class="modal-header pmd-modal-border">
                <h2 class="modal-title">Organisations</h2>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="organizationForm" (ngSubmit)="create()">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Nom</label>
                        <input id="full-name" class="form-control" type="text" formControlName="name">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Entreprise</label>
                        <select  formControlName="entreprise_id" class="mat-input form-control">
                            <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  class="btn btn-dark btn-pill" type="submit"  >Ajouter</button>
                <button type="button" class="btn btn-dark btn-pill" (click)="close()">Annuler</button>
            </div>
        </div>
    </div> -->
</ng-template>
