<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
<form [formGroup]="userForm" (ngSubmit)="create()" #template>
    <div class="form-row" >
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nom</label>
            <input  name="name" class="form-control"  placeholder="Nom">
          </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Mot de passe</label>
        <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Role</label>
        <input type="text" name="role" class="form-control" id="inputPassword4" placeholder="Role">
      </div>
    </div>
    
    
    <button type="submit" class="btn btn-primary" >Créer</button>
  </form>
  </div>
  </div>

