
<div class="col-lg-7">
    <button class="btn mt-3" type="submit" style="color: blue;" (click)="openModal(template)">Ajouter Groupe</button>
  </div>

  <div class="card">
      <div class="card-body">
          <!-- title -->
                  <h4 class="card-title">Liste des groupes</h4>

          <!-- title -->
          <div class="table-responsive">
              <table class="table align-middle">
                  <thead>
                      <tr>
                          <th class="text-dark font-medium fs-4">Nom</th>
                          <th class="text-dark font-medium fs-4">Permissions</th>
                          <th class="text-dark font-medium fs-4">Action</th>

                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ts of groups'>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.name}}</h5>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <button type="button" class="btn btn-info" (click)="permissionsList()">Voir permissions</button>

                                </div>
                            </div>
                        </td>
                        <td >
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <button type="button" class="btn btn-warning mr-2"(click)="openEditForm(ts,template)">Modifier</button>
                                    <button type="button" class="btn btn-danger mr-2" (click)="deleteGroup(ts.id)">Supprimer</button>
                                    <!-- <button *ngFor="let organization of organizations" type="button" class="btn btn-dark" (click)="redirectToOrganizations(organization.entreprise_id)">Organisations</button>  -->
                                </div>
                            </div>
                        </td>


                    </tr>

                </tbody>
              </table>
          </div>
      </div>

  </div>
  <!-- <router-outlet></router-outlet> -->
  <ng-template #template>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">Group</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="groupForm" >
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="firstName" class="col-form-label col-sm-2 text-right">Nom</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="name" class="form-control" />

                </div>
            </div>
            <br>
            <!-- <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="firstName" class="col-form-label col-sm-2 text-right">Permissions</label>
                <div class="col-sm-5">
                    <button class="btn mt-3" type="submit" style="color: blue;" (click)="openPerm(template1)">permissions</button>

                </div>
            </div> -->
            <div class="form-group row d-flex justify-content-center align-items-center">
                <label for="lastName" class="col-form-label col-sm-2 text-right">Permissions</label>
                <div class="col-sm-5">
                    <!-- <input type="text" formControlName="owner" class="form-control" /> -->
                    <!-- <div class="form-check"*ngFor="let p of permissions;let i =index" >
                        <input class="form-check-input" type="checkbox" [value]="p.id" [checked]="isPermissionSelected(p.id)" formControlName="perm"  (change)="onChange($event)" >
                        <label formArrayName="perm" class="form-check-label" for="perm{{p.id}}" >
                          {{p.name}}
                        </label>
                    </div> -->
                  <ul>
                    <li *ngFor="let p of permissionsFormArray.controls;let i =index">
                      <input type="checkbox" (click)="onClickCheckBox(permissions[i].id)"> {{permissions[i].name}}
                    </li>
                  </ul>

                </div>
            </div>

            <div class="modal-footer">
             <button type="submit" class="btn btn-primary" (click)="submit()" >{{this.groupForm.value.id ? 'Modifier': 'Ajouter'}}</button>

                <button  class="btn btn-primary mr-2" >Annuler</button>
            </div>

        </form>
    </div>
  </ng-template>
    <ng-template #template1>
        <div class="modal-header bg-primary text-white" [formGroup]="groupForm">
            <h4 class="modal-title" id="modal-basic-title">Group</h4>
        </div>
        <div class="modal-body">

                <div class="form-group row d-flex justify-content-center align-items-center">
                    <label for="lastName" class="col-form-label col-sm-2 text-right">Permissions</label>
                    <div class="col-sm-5">
                        <!-- <input type="text" formControlName="owner" class="form-control" /> -->
                        <div class="form-check"*ngFor="let p of permissions;let i =index" >
                            <input class="form-check-input" type="checkbox" [value]="p.id" [checked]="isPermissionSelected(p.id)" formControlName="perm"  (change)="onChange($event)" >
                            <label  class="form-check-label" for="perm{{p.id}}" >
                              {{p.name}}
                            </label>
                          </div>

                    </div>
                </div>

        </div>
    </ng-template>
