<button class="btn mt-3" type="submit" style="color: blue;" (click)="openModalUser(template)">Ajouter Utilisateurs</button>
<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">List</h4>
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">ID</th>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let ts of users'>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <h5 class="mb-0 font-medium">{{ts.id}}</h5>
                            </div>
                        </div>
                    </td>
                      <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                  <h5 class="mb-0 font-medium">{{ts.name}}</h5>
                              </div>
                          </div>
                      </td>
                     
                      <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                  <button type="button" class="btn btn-warning">Modifier</button> 
                                <button type="button" class="btn btn-danger" >Supprimer</button> 
                                  
                              </div>
                          </div>
                      </td>
                      
                      
                  </tr>              
              </tbody>
            </table>
        </div>
    </div>
    
  </div>
  <ng-template #template>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-border">
                <h2 class="modal-title">Inscription</h2>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="create()">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Nom</label>
                        <input id="full-name" class="form-control" type="text" formControlName="name">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="email">Login</label>
                        <input type="email" class="mat-input form-control" id="email" value="" formControlName="username">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="mobil">Mot de passe</label>
                        <input type="password" class="mat-input form-control" id="mobil" value="" formControlName="password">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Role</label>
                        <select  formControlName="role" class="mat-input form-control">
                            <option *ngFor="let user of users" [ngValue]="user.role">{{user.role}}</option>
                          </select>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Entreprises</label>
                        <select  formControlName="entreprise_id" class="mat-input form-control">
                            <option *ngFor="let entreprise of entreprises" [ngValue]="entreprise.id">{{entreprise.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-dark pmd-btn-flat" type="submit">Add</button>
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" (click)="close()">Annuler</button>
            </div>
        </div>
    </div>
</ng-template>